@* @page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>



Welcome to your new app.


 *@

@page "/"
@inject NavigationManager Navigation
@rendermode InteractiveServer
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
Welcome to your new app.

<button @onclick="CCard">Priskirti kortelę</button>
<button @onclick="WCard">Peržiūrėti kortelę</button>
@* <button @onclick="RCard">Trinti kortele</button> *@
<button @onclick="COrder">Kurti užsakymą</button>
@* <button @onclick="Pay">Apmoketi per banka</button> *@

@code{
    private void CCard()
    {
        Navigation.NavigateTo("/ccreation");
    }
    private void WCard()
    {
        Navigation.NavigateTo("/cview");
    }
    private void COrder()
    {
        Navigation.NavigateTo("/ocreation");
    }
}