@page "/routes"

<h1>Maršrutai</h1>

<a href="/routes/add" role="button" class="btn btn-success">Pridėti maršrutą</a>

<ul class="list-group route-list">
@foreach (var route in RouteList)
{
  <li class="list-group-item">
    <div class="route-left">
      <b>Nr. @route.Id</b>
      <span>@route.Name</span>
    </div>
    <div class="route-right">
      <a href="/routes/@route.Id/edit" role="button" class="btn btn-primary">Redaguoti</a>
      <a href="/routes/@route.Id/delete" role="button" class="btn btn-danger">Ištrinti</a>
    </div>
  </li>
}
</ul>

@code {
    public class Route
    {
        public string Id { get; set; } = null!;
        public string Name { get; set; } = null!;
    }

    public List<Route> RouteList = new List<Route> {
        new Route { Id = "1", Name = "Kaunas-Vilnius" },
        new Route { Id = "2", Name = "Vilnius-Klaipėda" }
    };
}
