@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

  <main>
        <div class="top-row px-4" style="display: flex; align-items: center; gap: 1rem;">

            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>

            <div style="position: relative;">
                <a href="/cart" ><span class="cart-icon" style="background: none; border: none; cursor: pointer;">🛒</span></a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

