@page "/profile"

<h3>Profile Page</h3>

<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 2rem; align-items: start; margin-top: 2rem;">
    <div style="padding-left: 2rem;">
        <label>Email</label><br/>
        <input type="email" placeholder="vardas@gmail.com" style="width: 100%;" /><br/><br/>
        
        <label>Username</label><br/>
        <input type="text" placeholder="Vardenis" style="width: 100%;" />
    </div>

    <div style="text-align: center;">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg" alt="Profile Picture" style="width: 150px; height: 150px; border-radius: 50%;" />
        
        <div style="margin-top: 10px;">
            <a href="/profilePicture">Edit</a>
        </div>
    </div>

    @* prideta Kristupo *@
    <button @onclick="CCard">Priskirti kortelæ</button>
    <button @onclick="WCard">Perþiûrëti kortelæ</button>
</div>

@inject NavigationManager Navigation
@rendermode InteractiveServer

@code {
    @* prideta Kristupo *@
    private void CCard()
    {
        Navigation.NavigateTo("/ccreation");
    }
    private void WCard()
    {
        Navigation.NavigateTo("/cview");
    }
}
