@page "/register"

<h3>Register</h3>

<form @onsubmit="OnSubmit">
    <div>
        <label>Username:</label>
        <input type="text" required />
    </div>
    <div>
        <label>Email:</label>
        <input type="email" required />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" required minlength="6" />
    </div>
    <button type="submit">Submit</button>
</form>

@code {
    private void OnSubmit()
    {

    }
}
