@page "/ReviewSuccess/{StopId:int}"
@rendermode InteractiveServer

<div class="d-flex flex-column justify-content-center align-items-center">
    <h3 class="mb-4">Atsiliepimas pateiktas sėkmingai!</h3>
    <a href="/Stop/1" class="btn btn-primary">Grįžti atgal</a>
</div>

@code {
    [Parameter] public int StopId { get; set; }
}