@page "/ReviewSuccess"

<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <h3 class="mb-4">Atsiliepimas pateiktas sėkmingai!</h3>
    <a href="/" class="btn btn-primary">Grįžti namo</a>
</div>

@code {
    
}