@page "/ReviewForm"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Palikti atsiliepimą</h4>

            <form>
                <div class="mb-3">
                    <label for="rating" class="form-label">Įvertinimas</label>
                    <StarRating MaxRating="5" Rating="@currentRating" OnRatingChanged="@OnRatingChanged"/>
                    <div class="form-text text-muted">Turite pasirinkti nuo 1 iki 5 žvaigždžių.</div>
                </div>

                <div class="mb-3">
                    <label for="reviewText" class="form-label">Jūsų atsiliepimas</label>
                    <textarea id="reviewText" class="form-control" rows="4" placeholder="Rašykite savo atsiliepimą čia..." required></textarea>
                </div>

                <button type="button" class="btn btn-primary" @onclick="SubmitReview">Pateikti atsiliepimą</button>
            </form>
        </div>
    </div>
</div>

@code {
    /*
     * Review form for the stop. Includes the rating (in stars 1-5). And the review text itself.
     */

    private int currentRating = 0;

    private void SubmitReview()
    {
        NavigationManager.NavigateTo("/ReviewSuccess");
    }

    private void OnRatingChanged(int rating)
    {
        currentRating = rating;
    }
}