<div class="star-rating">
    @for (var i = 1; i <= MaxRating; i++)
    {
        var currentRating = i;

        <span class="star" @onclick="() => SetValue(currentRating)" style="cursor: pointer;">
            <i class="@(i <= Value ? "bi bi-star-fill" : "bi bi-star")"></i>
        </span>
    }
</div>

@code {
    [Parameter] public int MaxRating { get; set; } = 5;
    [Parameter] public int Value { get; set; }
    [Parameter] public EventCallback<int> ValueChanged { get; set; }

    private async Task SetValue(int rating)
    {
        Value = rating;
        await ValueChanged.InvokeAsync(rating);
    }

}
