@page "/cview"
@using TravelOrganization.Controllers
@inject PaymentController PaymentController
@rendermode InteractiveServer
<h3>Dabartinės kortelės peržiūra</h3>

<button @onclick="PaymentController.ToCardDeleteVerification">trinti kortelę</button>

@code {

}
