@page "/cdverification"
@using TravelOrganization.Controllers
@inject PaymentController PaymentController
@rendermode InteractiveServer
<h3>Kortelės naikinimo tvirtinimas</h3>

ar trinti kortelę?
<button @onclick="PaymentController.ToProfile">Taip</button>
<button @onclick="PaymentController.ToProfile">Ne</button>
@code {

}
