@page "/ocreation"
@using TravelOrganization.Controllers
@inject PaymentController PaymentController
@rendermode InteractiveServer
<PageTitle>Užsakymo kūrimas</PageTitle>

<h3>Užsakymo kūrimas</h3>

<button @onclick="PaymentController.ToPayment">Apmokėti per bankininkystę</button>
<button @onclick="PaymentController.ToCardCreation">(temp)pridėti kortelę</button>
<button @onclick="PaymentController.ToCart">Atšaukti užsakymą</button>

@code {

}
