@page "/payment"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>Apmokėjimas</h3>


<button @onclick="Abort">Atšaukti užsakymą</button>
@code {
    private void Abort()
    {
        NavigationManager.NavigateTo("cart");
    }
}
