@page "/payment"
@using TravelOrganization.Controllers
@inject PaymentController PaymentController
@rendermode InteractiveServer

<h3>Apmokėjimas</h3>

<button @onclick="PaymentController.ToCart">Atšaukti užsakymą</button>
@code {

}
